
.sidebar {
    position: absolute;
    height: 100vh;
    width: 250px;
    background-color:  black;
    
}






.sidebar ul {
    position: relative;
    background-color: red;
    color: blue;
}
